<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <img src="https://i.ebayimg.com/images/g/U9wAAOSwZGJccVrc/s-l300.png" alt="">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-12">
                           <h4><span class="text-muted"> Parachute Coconut Oil 200g</span></h4>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                          <h5><b class="display-4">₹180</b>  <span class="text-muted">&nbsp;<s>₹200</s></span>&nbsp;&nbsp;<span class="text-success"><b>10 % Off</b></span></h5>
                    </div>
        </div>
    
            
        
    </div>
</div>