
<div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-5">
        <img class="img-side" src="https://i.ebayimg.com/images/g/U9wAAOSwZGJccVrc/s-l300.png" alt="">
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-8 mar justfy-content-center">
        <div class="row">
            <div class="col-12">
                <h3><span class="text-muted"> {{product.productName}}</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5><b class="display-4">{{product.rate}}</b> <span
                        class="text-muted">&nbsp;<s>{{product.rate}}</s></span>&nbsp;&nbsp;<span
                        class="text-success"><b>10 % Off</b></span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <b>
                    Avliable Offer
                </b>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12">
                <span>
                    <i class="fas fa-tag"></i>
                    <b class="text-muted"> Bank Offer</b> 15% Instant Discount on Bank Of Baroda Credit Cards <a
                        href="">*T&C</a>
                </span>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12">
                <span>
                    <i class="fas fa-tag"></i>
                    <b class="text-muted"> Bank Offer</b> 15% Instant Discount on Bank Of Baroda Credit Cards <a
                        href="">*T&C</a>
                </span>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12">
                <span>
                    <i class="fas fa-tag"></i>
                    <b class="text-muted"> Bank Offer</b> 15% Instant Discount on Bank Of Baroda Credit Cards <a
                        href="">*T&C</a>
                </span>
            </div>
        </div>
        <div class="row py-3">
            <i class="far fa-clock img-c"></i> Best before 20 Aug 2021
            <br> Manufactured date 01 Sep 2019
        </div>
        <div>


        <div class="row">
            <div class="col-6">
                <span class="text-muted"><b>Aisle :</b></span>
                <span class="text-info"> {{product.aisle}}</span>

            </div>
       
        
            <div class="col-6">
                <span class="text-muted"><b>Shelf :</b></span>
                <span class="text-info "> {{product.shelf}}</span>


        
            
        </div>
    </div>
</div>