<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <img class="img-side" src="https://i.ebayimg.com/images/g/U9wAAOSwZGJccVrc/s-l300.png" alt="">
  </div>
  <div class="col-12 col-md-6 col-lg-8">
    <div class="row">
      <div class="col-12 d-flex align-items-center">
        <h3 class="text-muted">{{product?.brand}}</h3>
        <div class="badge badge-info ml-2" title="Product Category">{{product?.category.categoryName}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>{{product?.productName}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5>
          <b class="display-4" *ngIf="!offer">₹{{product?.rate}}</b>
          <b class="display-4" *ngIf="offer">₹{{offer?.discountRate}}</b>
          <span class="text-muted" *ngIf="offer">&nbsp;<s>{{product?.rate}}</s></span>&nbsp;&nbsp;<span
            class="text-success" *ngIf="offer"><b>{{(product?.rate - offer?.discountRate)*100/product.rate}}%
              off</b></span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <b>
          Available Offer: {{offer?.offerName?offer.offerName:'No Offers available'}}
        </b>
      </div>
    </div>
    <div class="row py-3">
      <div class="col">
        Date of Manufacture: {{product.dateOfManufacture | date: 'dd MMM, yyyy'}} <br />
        Date of Expiry: {{product.dateOfExpiry | date: 'dd MMM, yyyy'}}
      </div>
    </div>
    <div>
      <div class="row font-size-32">
        <div class="col-3">
          <span class="text-muted"><b>Aisle :</b></span>
          <span class="text-info"> {{product?.aisle}}</span>
        </div>
        <div class="col-3">
          <span class="text-muted"><b>Shelf :</b></span>
          <span class="text-info"> {{product?.shelf}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row my-4" *ngIf="product">
  <div class="col-12">
   <app-related-product [category]="product.category"></app-related-product>
  </div>
</div>
