<div class="card">

    <div class="card-header">
        Product Edit
    </div>
    <div class="card-body">
     <form action="">
            <div class="row">
                    <div class="col-12 col-lg-12">
                        <label>Product Code</label>
                        <input type="text" class="productCode" id="ProductCode" formControlName="proCode" name="proCode">

                    </div>
             </div>
             
            <div class="row">
                    <div class="col-12 col-lg-12">
                        <label>Product Name</label>
                        <input type="text" class="productName
                        " id="Productname" formControlName="proName" name="proName">
                        
                    </div>
             </div>
             
            <div class="row">
                    <div class="col-12 col-lg-12">
                        <label>Product Code</label>
                        <input type="text" class="productCode" id="ProductCode" formControlName="proCode" name="proCode">
                        
                    </div>
             </div>
             
            <div class="row">
                    <div class="col-12 col-lg-12">
                        <label>Brand</label>
                        <input type="text" class="productBrand" id="ProductBrand" formControlName="proBrand" name="proBarand">
                        
                    </div>
             </div>
             
            <div class="row">
                    <div class="col-12 col-lg-12">
                        <label>QuantityType</label>
                        <input type="text" class="Quantity" id="quantity" formControlName="quantityType" name="quantityType">
                        
                    </div>
             </div>
             
            <div class="row">
                    <div class="col-12 col-lg-12">
                        <label>Rate</label>
                        <input type="text" class="productRate" id="ProductRate" formControlName="proRate" name="proRate">
                        
                    </div>
             </div>
             <div class="row">
                    <div class="col-12 col-lg-12">
                        <label>Stock Count</label>
                        <input type="text" class="stockCount" id="StockCount" formControlName="Stock" name="Stock">
                        
                    </div>
             </div>
             <div class="row">
                    <div class="col-12 col-lg-12">
                        <label>Stock Count</label>
                        <input type="text" class="stockCount" id="StockCount" formControlName="Stock" name="Stock">
                        
                    </div>
             </div>


     </form>
       
     </div>

    </div>


