<div class="row mt-3">
    <div class="col-12 d-flex justify-content-center font-size-24">
        {{displayString}}
    </div>
</div>
<div class="row" *ngIf="productList">
    <div class="col-12 col-md-6 col-lg-3 mt-3" *ngFor="let product of productList">
        <app-item-info [product]="product"></app-item-info>
    </div>
    
</div>
<div class="row" *ngIf="offerList">
    <div class="col-12 col-md-6 col-lg-3 mt-3" *ngFor="let offer of offerList">
        <app-item-info [offer]="offer"></app-item-info>
    </div>
    
</div>

<div class="row mb-3">&nbsp;</div>