<div class="row mb-2">
    <div class="col-6">
        <h5>Inventory</h5>
        <div class="row">
            <div class="col-12">
                <span class="text-muted"><b>Total Products :</b></span>
                <span class="text-info"> 500</span>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="text-muted"><b>Total Categories :</b></span>
                <span class="text-info "> 4</span>
            </div>
        </div>
    </div>
</div>