<div class="container-fluid mt-2 mb-5">

    <div class="row">
        <span class="ml-3 mb-2">
            <h4>Purchase History</h4>
        </span>
    </div>

    <ul class="list-group mb-5">
        <li class="list-group-item list-group-item-action">
            <div class="row mt-1 ml-3">
                <div class="col-3">
                    <div><strong>Bill ID</strong></div>
                    <div>2</div>
                </div>
                <div class="col-3">
                    <div>
                        <strong>Username</strong>
                    </div>
                    <div>blah</div>
                </div>
                <div class="col-3">
                    <div>
                        <strong>Purchase Date</strong>
                    </div>
                    <div>12/12/2019</div>
                </div>
                <div class="col-3">
                    <div>
                        <strong>No. of Items</strong>
                    </div>
                    <div>5</div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">
            <div class="row ml-3">
                <div class="col-4">
                    <strong>Product Name</strong>
                </div>
                <div class="col-4">
                    <strong>Quantity</strong>
                </div>
                <div class="col-4">
                    <strong>Price</strong>
                </div>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <div class="row ml-3">
                <div class="col-4">
                    p1
                </div>
                <div class="col-4">
                    1
                </div>
                <div class="col-4">
                    ₹ 100
                </div>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <div class="row ml-3">
                <div class="col-4">
                    p1
                </div>
                <div class="col-4">
                    1
                </div>
                <div class="col-4">
                    ₹ 100
                </div>
            </div>
        </li>
        <li class="list-group-item list-group-item-action">
            <div class="row ml-3">
                <div class="col-8">
                    <strong>Total</strong>
                </div>
                <div class="col-4">
                    <strong>₹ 100</strong>
                </div>
            </div>
        </li>
    </ul>
</div>