<div class="card product-card mx-auto">
    <img class="card-img-top mx-auto" src="https://i.ebayimg.com/images/g/U9wAAOSwZGJccVrc/s-l300.png">

    <div class="card-body">

        <span>
            <div class="card-title text-muted">Parachute Coconut Oil 200g </div>
        </span>

        <div class="row">
            <div class="col-12">
                <span class="font-weight-500">₹180</span>
                <span class="text-muted">&nbsp;<s>₹200</s></span>&nbsp;&nbsp;<span class="text-success font-weight-500">10%
                            off</span>
            </div>
        </div>
                
            <div class="row">
                <div class="col-12">
                    <span class="text-muted"><b>Aisle :</b></span>
                    <span class="text-info"> Third</span>

                </div>
            </div>
            <div class="row">
                    <div class="col-12">
                        <span class="text-muted"><b>Shelf :</b></span>
                        <span class="text-info "> Sixth</span>
    
                    </div>
            </div>
     
   
 

    </div>
    </div>