<div class="card product-card">
    <img class="card-img-top " src="https://i.ebayimg.com/images/g/U9wAAOSwZGJccVrc/s-l300.png" alt="">

    <div class="card-body">

        <span>
            <h5 class="card-title text-muted">Parachute Coconut Oil 200g </h5>
        </span>

        <div class="row">
            <div class="col-12">
                <h5>₹180 <span class="text-muted">&nbsp;<s>₹200</s></span>&nbsp;&nbsp;<span class="text-success"><b>10 %
                            Off</b></span></h5>
            </div>
        </div>
                
            <div class="row">
                <div class="col-12">
                    <span class="text-muted"><b>Aisle :</b></span>
                    <span class="text-info"> Third</span>

                </div>
            </div>
            <div class="row">
                    <div class="col-12">
                        <span class="text-muted"><b>Shelf :</b></span>
                        <span class="text-info "> Sixth</span>
    
                    </div>
            </div>
     
   
 

    </div>
    </div>