.add-item:hover {
    background-color: #f2f2f2;
}

.del {
    cursor: pointer;
}

.autocompletebox {
    border: 1px solid #e6e6e6;
    width: 96%;
}

.autocomplete {
    padding-left: 10px;
    padding-right: 10px;
}

.autocomplete:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}