<div class="row justify-content-center mt-3 mb-3">
    <div class="col-12 col-md-10">
        <div class="card login-form">
            <div class="card-body" *ngIf="formSubmitted">
                <div class="alert alert-success">Bill added successfully</div>
                <div><button class="btn btn-info" (click)="loadNewForm()">Add new form</button></div>
            </div>
            <div class="card-body" *ngIf="!formSubmitted">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h3><i class="fas fa-cart-plus"></i> New Bill</h3>
                    </div>
                </div>
                <div class="row" *ngIf="wrongUsername">
                    <div class="col">
                        <div class="alert alert-danger">Invalid username</div>
                    </div>
                </div>
                <form [formGroup]="billForm" (ngSubmit)="submit()">
                    <div class="form-row">
                        <div class="col-12 col-lg-6">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control login-input"
                                placeholder="Enter Username" formControlName="username" (blur)="loadName()" />
                            <div class="validation-error" *ngIf="username.touched && username.hasError('required')">
                                Username is required
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-12 col-lg-6">
                            <label for="name">Full Name</label>
                            <input type="text" name="name" id="name" class="form-control login-input" placeholder="Full Name"
                                formControlName="name" [readOnly]="'true'" />
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="billDate">Billing Date</label>
                            <input type="date" name="billDate" id="billDate" class="form-control login-input"
                                formControlName="billDate" [readOnly]="'true'">
                        </div>
                    </div>
                    <div class="row mt-3 mb-3 add-item">
                        <div class="col-12">
                            <h4>Add Purchased Item</h4>
                        </div>
                    </div>


                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-12 col-md-3">
                                    <label [for]="'pid'">Product Code</label>
                                    <input class="form-control login-input" type="text" [id]="'pid'"
                                        placeholder="Enter product code" [formControl]="pid"
                                        (clickOutside)="loadProduct(purchase.get('pid').value)"
                                        (input)="autoCompleteProduct()">
                                    <div class="autocompletebox" *ngIf="autoComplete" style="background-color: white;">
                                        <div class="autocompletebox" (clickOutside)="closeDrop()"
                                            style="position: absolute; z-index: 2; height: 100px; overflow-y: scroll; background-color: white;">
                                            <div class="autocomplete" *ngFor="let product of allProducts"
                                                style="display: block;" (click)="loadVal(product.productCode)">
                                                {{product.productCode}} :
                                                {{product.productName}}</div>
                                        </div>
                                    </div>
                                    <div class="validation-error" *ngIf="pid.touched && pid.hasError('required')">
                                        Product Id is required
                                    </div>
                                    <div class="validation-error" *ngIf="wrongProduct">
                                        Invalid Product
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <label [for]="'pname'">Product Name</label>
                                    <input class="form-control login-input" type="text" [id]="'pname'" placeholder="Product Name"
                                        [formControl]="pname" [readOnly]="'true'">
                                </div>
                                <div class="col-12 col-md-3">
                                    <label [for]="'quantity'">Quantity</label>
                                    <input class="form-control login-input" type="number" [id]="'quantity'"
                                        placeholder="Enter quantity" [formControl]="quantity"
                                        (blur)="updateTotalAndPoints()">
                                    <div class="validation-error"
                                        *ngIf="quantity.touched && quantity.hasError('required')">
                                        Quantity is required
                                    </div>
                                    <div class="validation-error" *ngIf="quantity.hasError('max')">
                                        Available {{availableQuantity}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <label [for]="'price'">Price</label>
                                    <input class="form-control login-input" type="number" [id]="'price'" placeholder="Enter price"
                                        [formControl]="price" [readOnly]="'true'" (blur)="updateTotalAndPoints()">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-info login-btn" title="Add Product" (click)="addPurchaseItem()"
                                [disabled]="!purchase.valid"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="table-responsive mt-3" *ngIf="items.length">
                        <div class="row">
                            <div class="col-12">
                                <b>Added Items : </b>
                            </div>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Amount Payable</th>
                            </tr>
                            <tr *ngFor="let item of items; let i = index">
                                <td><a class="del text-danger" (click)="deletePurchaseItem(i)"><i
                                            class="fas fa-trash"></i></a>&nbsp;&nbsp;&nbsp;{{item.product.productCode}}
                                </td>
                                <td>{{item.product.productName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.price * item.quantity}}</td>
                            </tr>
                        </table>
                        <div class="form-row mt-3 mb-3">
                            <div class="col-12 col-lg-6">
                                <label for="rew">Reward Points Available</label>
                                <input type="number" id="rew" class="form-control login-input" placeholder="Reward points available"
                                    formControlName="reward" [readOnly]="'true'">
                            </div>
                            <div class="col-12 col-lg-6 d-flex align-items-end">
                                <div style="width: 50%;">
                                    <button type="button" class="btn btn-info login-btn" (click)="redeem()">Redeem</button>&nbsp;
                                    <span style="padding: 10px; border-radius: 3px; background-color: #b3ffb3;"
                                        *ngIf="redeemed">
                                        <i class="fas fa-check"></i> Redeemed
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-row mt-3">
                        <div class="col-12 col-lg-6">
                            <label for="total">Total</label>
                            <input type="number" name="total" id="total" class="form-control login-input" placeholder="Total"
                                formControlName="total" [readOnly]="'true'">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="points">Reward Points Earned</label>
                            <input type="number" name="points" id="points" class="form-control login-input"
                                placeholder="Reward Points Earned" formControlName="points" [readOnly]="'true'">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary login-btn" [disabled]="checkInvalid()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>