<div class="row justify-content-center mt-3 mb-3">
    <div class="col-12 col-md-10">
        <div class="card">
            <div class="card-body" *ngIf="formSubmitted">
                <div class="alert alert-success">Bill added successfully</div>
                <div><button class="btn btn-info" (click)="loadNewForm()">Add new form</button></div>
            </div>
            <div class="card-body" *ngIf="!formSubmitted">
                <div class="row">
                    <div class="col">
                        <h3>New Bill</h3>
                    </div>
                </div>
                <div class="row" *ngIf="wrongUsername">
                    <div class="col">
                        <div class="alert alert-danger">Invalid username</div>
                    </div>
                </div>
                <form [formGroup]="billForm" (ngSubmit)="submit()">
                    <div class="form-row">
                        <div class="col-12 col-lg-6">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control"
                                placeholder="Enter Username" formControlName="username" (blur)="loadName()" />
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-12 col-lg-6">
                            <label for="name">Full Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Full Name"
                                formControlName="name" [readOnly]="'true'" />
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="billDate">Billing Date</label>
                            <input type="date" name="billDate" id="billDate" class="form-control"
                                formControlName="billDate" [readOnly]="'true'">
                        </div>
                    </div>
                    <div class="row mt-3 mb-3 add-item">
                        <div class="col-6">
                            <h4>Purchased Items</h4>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-info" title="Add Product" (click)="addPurchaseItem()"
                                [disabled]="!purchase.valid"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>


                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-12 col-md-3">
                                    <label [for]="'pid'">Product Code</label>
                                    <input class="form-control" type="text" [id]="'pid'"
                                        placeholder="Enter product code" [formControl]="pid"
                                        (blur)="loadProduct(purchase.get('pid').value)"
                                        (input)="autoCompleteProduct()">
                                    <div class="autocompletebox" *ngIf="autoComplete"
                                        style="background-color: white;">
                                        <div class="autocompletebox"
                                            style="position: absolute; z-index: 2; height: 100px; overflow-y: scroll; background-color: white;">
                                            <div class="autocomplete" *ngFor="let product of allProducts"
                                                style="display: block;" (click)="loadVal(product.productCode)">{{product.productCode}} :
                                                {{product.productName}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <label [for]="'pname'">Product Name</label>
                                    <input class="form-control" type="text" [id]="'pname'" placeholder="Product Name"
                                        [formControl]="pname" [readOnly]="'true'">
                                </div>
                                <div class="col-12 col-md-3">
                                    <label [for]="'quantity'">Quantity</label>
                                    <input class="form-control" type="number" [id]="'quantity'"
                                        placeholder="Enter quantity" [formControl]="quantity"
                                        (blur)="updateTotalAndPoints()">
                                </div>
                                <div class="col-12 col-md-3">
                                    <label [for]="'price'">Price</label>
                                    <input class="form-control" type="text" [id]="'price'" placeholder="Enter price"
                                        [formControl]="price" (blur)="updateTotalAndPoints()">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mt-3" *ngIf="items.length">
                        <table class="table">
                            <tr>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Amount Payable</th>
                            </tr>
                            <tr *ngFor="let item of items; let i = index">
                                <td><a class="del text-danger" (click)="deletePurchaseItem(i)"><i
                                            class="fas fa-trash"></i></a>&nbsp;&nbsp;&nbsp;{{item.product.productCode}}
                                </td>
                                <td>{{item.product.productName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.price * item.quantity}}</td>
                            </tr>
                        </table>
                    </div>

                    
                    <div class="form-row mt-3">
                        <div class="col-12 col-lg-6">
                            <label for="total">Total</label>
                            <input type="number" name="total" id="total" class="form-control" placeholder="Total"
                                formControlName="total" [readOnly]="'true'">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="points">Reward Points</label>
                            <input type="number" name="points" id="points" class="form-control"
                                placeholder="Reward Points" formControlName="points" [readOnly]="'true'">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" [disabled]="checkInvalid()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>