<div class="row">
  <div class="col-12 col-md-3">
    <div class="nav flex-column nav-pills" aria-orientation="vertical">
      <a class="nav-link active" data-toggle="pill" href="#summary">Summary</a>
      <a class="nav-link" data-toggle="pill" href="#products">Manage Products</a>
      <a class="nav-link" data-toggle="pill" href="#categories">Manage Catgeories</a>
      <!-- <a class="nav-link" data-toggle="pill" href="#update">Update Aisle and Shelf</a> -->
    </div>
  </div>
  <div class="col-12 col-md-9">
    <div class="tab-content">
      <app-summary class="tab-pane active" id="summary"></app-summary>
      <app-manage-products class="tab-pane" id="products"></app-manage-products>
      <app-manage-categories class="tab-pane" id="categories"></app-manage-categories>
      <!-- <app-update-details class="tab-pane" id="update"></app-update-details> -->
    </div>
  </div>
</div>