<div class="container-fluid mt-2 mb-5">

    <div class="row">
        <span class="ml-3 mb-2">
            <h4>Purchase History</h4>
        </span>
    </div>

    <ul class="list-group">
        <li *ngFor="let bill of bills" class="list-group-item list-group-item-action">
            <div class="row mt-1 ml-3">
                <div class="col-8">
                    <div><span><strong>Bill ID : </strong></span>
                        <span>{{bill.billId}}</span></div>
                    <div>
                        <span>
                            <strong>Total Amount : </strong>
                        </span>
                        <span>₹ {{bill.total}}</span>
                    </div>
                    <div>
                        <span>
                            <strong>Purchase Date : </strong>
                        </span>
                        <span>{{bill.date | date: 'dd/MM/yyyy'}}</span>
                    </div>
                    <div>
                        <span>
                            <strong>No. of Items : </strong>
                        </span>
                        <span>{{bill.purchaseItems.length}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <span class="float-right ml-auto">
                        <button class="btn btn-link float-right mr-2" [routerLink]="['/user/purchase-history/purchase-items',bill.billId]">
                            View Details
                        </button>
                    </span>
                </div>

            </div>
        </li>
    </ul>

</div>