<div class="row">
    <div class="col d-flex justify-content-between">
        <div class="font-size-24">
            Offers
        </div>
        <button data-target="#addOffer" class="btn btn-link" data-toggle="collapse" title="Add Offer"><i
                class="material-icons">add_box</i></button>
    </div>
</div>
<div class="row collapse mt-2" id="addOffer">
    <div class="col-12">
        <form *ngIf="allProducts" [formGroup]="addForm" (ngSubmit)="addOffer()">
            <div class="form-row">
                <div class="col-12 col-md-4 col-lg-3">
                    <input type="text" placeholder="Offer Name" class="form-control" formControlName="offerName" />
                    <div class="validation-error" *ngIf="offerName.touched && offerName.hasError('required')">
                        Offer Name is required
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <input formControlName="offerDate" type="date" placeholder="Offer Date" class="form-control"
                        [min]="today" />
                    <div class="validation-error" *ngIf="offerDate.touched && offerDate.hasError('required')">
                        Offer Date is required
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <input formControlName="productCode" type="text" placeholder="Product Code" class="form-control" />
                    <div class="validation-error" *ngIf="productCode.touched && productCode.hasError('required')">
                        Product Code is required
                    </div>
                    <div class="validation-error" *ngIf="productCode.dirty && productCode.hasError('noMatch')">
                        Product Code not Found
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <input formControlName="discountRate" type="number" placeholder="Discounted Rate"
                        class="form-control" />
                    <div class="validation-error" *ngIf="discountRate.touched && discountRate.hasError('required')">
                        Discount Rate is required
                    </div>
                </div>
            </div>
            <div class="form-row mt-1">
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <span class="mr-2">Filter</span>
        <div class="row">
            <div class="col-6">
                <select name="filterBy" id="filterBy" class="form-control" [formControl]="filterBy">
                    <option value="">All</option>
                    <option value="offerName">Offer Name</option>
                    <option value="offerDate">Offer Date</option>
                    <option value="productCode">Product Code</option>
                    <option value="productName">Product Name</option>
                    <option value="discountRate">Discount Rate</option>
                </select>
            </div>
            <div class="col-6">
                <input (keydown)="checkDate()" [formControl]="filterValue"
                    [type]="filterBy.value==='offerDate'? 'date': filterBy.value==='discount'?'number': 'text'"
                    [placeholder]="filterBy.value != 'date'?'Enter value':null" *ngIf="filterBy.value"
                    class="form-control" name="filter" id="filter">
            </div>
        </div>

    </div>
    <div class="col-6">
        <span class="mr-2">Sort By</span>
        <div class="row">
            <div class="col-6">
                <select name="filter" id="filter" class="form-control" [formControl]="sortBy">
                    <option value="offerId">Offer Id</option>
                    <option value="offerDate">Offer Date</option>
                    <option value="offerName">Offer Name</option>
                    <option value="product">Product Name</option>
                    <option value="discountRate">Discount Rate</option>
                </select>
            </div>
            <div class="col-6">
                <input type="radio" name="sort" id="asc" class="mr-1" value="asc" [formControl]="sortOrder"> <label
                    for="asc">Ascending</label>
                <input type="radio" name="sort" id="dsc" class="ml-2 mr-1" [formControl]="sortOrder" value="dsc"> <label
                    for="dsc">Descending</label>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-12 offer-body">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Offer Id</th>
                    <th scope="col">Offer Name</th>
                    <th scope="col">Offer Date</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Discounted Rate</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offer of filteredOffers;let i=index">
                    <td>{{offer.offerId}}</td>
                    <td>{{offer.offerName}}</td>
                    <td>{{offer.offerDate |  date: 'dd/MM/yyyy'}} </td>
                    <td>{{offer.productCode}} </td>
                    <td>{{offer.productName}}</td>
                    <td>{{offer.discountRate}}</td>
                    <td>
                        <button class="btn btn-link"> <i class="material-icons">edit</i> </button>
                        <button class="btn btn-link" (click)="deleteOffer(offer)"> <i
                                class="material-icons">delete_forever</i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>