<div class="card login-form mt-3 mb-3">
     <div class="card-body">
          <div class="row">
               <div class="col-12 d-flex justify-content-center">
                    <h3><i class="fas fa-plus-circle"></i> Add Product</h3>
               </div>
          </div>

          <div class="alert alert-success" *ngIf="isSuccess">Product Added</div>
          <div class="alert alert-danger" *ngIf="isError">Error while adding product</div>
          <form [formGroup]="addProduct">
               <div class="form-group">
                    <label for="productCode">Product Code</label>
                    <input type="text" class="form-control login-input" id="ProductCode" formControlName="proCode"
                         name="proCode">
               </div>
               <div class="form-group">
                    <label for="Productname">Product Name</label>
                    <input type="text" class="form-control login-input" id="Productname" formControlName="proName"
                         name="proName">
               </div>
               <div class="form-group form-row mt-2">
                    <div class="col-12 col-md-4">
                         <label for="brand">Brand</label>
                         <input type="text" class="form-control login-input" id="ProductBrand"
                              formControlName="proBrand" name="proBarand">
                    </div>
                    <div class="col-12 col-md-4">
                         <label for="quantity">QuantityType</label>
                         <input type="text" class="form-control login-input" id="quantity"
                              formControlName="quantityType" name="quantityType">
                    </div>
                    <div class="col-12 col-md-4">
                         <label for="rate">Rate</label>
                         <input type="text" class="form-control login-input" id="ProductRate" formControlName="proRate"
                              name="proRate">
                    </div>
               </div>
               <div class="form-group form-row">
                    <div class="col-12 col-md-3">
                         <label for="stock">Stock Count</label>
                         <input type="text" class="form-control login-input" id="stockCount" formControlName="stock"
                              name="stock">
                    </div>
                    <div class="col-12 col-md-3">
                         <label for="aisle">Aisle</label>
                         <input type="text" class="form-control login-input" id="ProductAisle"
                              formControlName="proAisle" name="proAsile">
                    </div>
                    <div class="col-12 col-md-3">
                         <label for="shelf">Shelf</label>
                         <input type="text" class="form-control login-input" id="ProductShelf"
                              formControlName="proShelf" name="proShelf">
                    </div>
                    <div class="col-12 col-md-3">
                         <label for="dateAdd">Add Date</label>
                         <input type="Date" class="form-control login-input" id="dateAdd" formControlName="proAddDate"
                              name="proAddDate" [readonly]="'true'">
                    </div>


               </div>
               <div class="form-group form-row">
                    <div class="col-12 col-md-3">
                         <label for="stock">Date Of Manufacture</label>
                         <input type="date" class="form-control login-input" id="dateofM" formControlName="dom"
                              name="dom">

                    </div>
                    <div class="col-12 col-md-3">
                         <label for="adddate"> Date of Expiry</label>
                         <input type="date" class="form-control login-input" id="dateOfExp" formControlName="doe"
                              name="doe">

                    </div>
                    <div class="col-12 col-md-3">
                         <label for="image">Image </label>
                         <input type="text" class="form-control login-input" id="ProductImage"
                              formControlName="proImage" name="proImage">

                    </div>
                    <div class="col-12 col-md-3">
                         <label for="category">Category Name</label>
                         <select class="form-control login-input" formControlName="proCategory" id="proCategory">
                              <option *ngFor="let cat of category" [ngValue]="cat"> {{cat.categoryName}} </option>
                         </select>
                    </div>
               </div>
               <div class="form-group form-row mt-3 mb-2">
                    <div class="col-12">
                         <button class="btn btn-primary  mx-2 login-btn" [disabled]="!addProduct.valid" type="submit"
                              (click)="onSubmit()">Save</button>
                    </div>
               </div>
          </form>
     </div>
</div>