<div class="row mt-3 mb-3">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Deals of the day</h5>
                <a  class="btn btn-primary" [routerLink]="['/product-list']" *ngIf="offers && offers?.length>0" [state]="{display: 'Deals of the Day'}">View All</a >
            </div>
            <div class="card-body product-list overflow-auto d-flex" *ngIf="offers">
                <app-item-info class="product-item" *ngFor="let offer of offers" [offer]="offer"></app-item-info>
                <div class="d-flex justify-content-center align-items-center" *ngIf="!offers || offers?.length===0" style="width: 100%;">
                    <div class="text-muted">No Offers today</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2" *ngIf="suggestions">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Suggested for you</h5>
                <a [routerLink]="['/product-list']" *ngIf="suggestions && suggestions?.length>0" [state]="{display: 'Recommendations'}"  class="btn btn-primary">View All</a>
            </div>
            <div class="card-body product-list overflow-auto d-flex">
                    <app-item-info class="product-item" *ngFor="let suggestion of suggestions" [product]="suggestion"></app-item-info>
                    <div class="d-flex justify-content-center align-items-center" *ngIf="!suggestions || suggestions?.length===0" style="width: 100%;">
                        <div class="text-muted">No suggestions</div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h5>Categories</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a class="category-item mt-1" *ngFor="let category of categories" [routerLink]="['/product-list']" [state]="{category: category}" routerLinkActive="router-link-active" >{{category.categoryName}}</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>All Products</h5>
                <a [routerLink]="['/product-list']" [state]="{display: 'All Products'}"  class="btn btn-primary">View All</a>
            </div>
            <div class="card-body product-list overflow-auto d-flex">
                   <app-item-info [product]="product" *ngFor="let product of allProducts"></app-item-info>
            </div>
        </div>
    </div>
</div>