<div class="row mb-2">
    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Inventory</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <span class="text-muted"><b>Total Products :</b></span>
                        <span class="text-info"> 500</span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="text-muted"><b>Total Categories :</b></span>
                        <span class="text-info "> 4</span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" [routerLink]="['/manager/dashboard/inventory']">Manage</a>
            </div>
        </div>
    </div>
</div>