/* You can add global styles to this file, and also import other style files */
.validation-error {
    color: red;
}
.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
     border-radius: 10px;
   background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .font-size-16 {
    font-size: 16px;
  }
  .font-size-24 {
    font-size: 24px;
  }
  .font-weight-500 {
    font-weight: 600;
  }