<div class="row justify-content-center ">
    <div class="col-sm-12 col-md-7 col-lg-5">
        <div class="card mt-3 mb-3 login-form">
            <div class="card-body">
                <div class="row mt-2 mb-3">
                    <div class="col-12 d-flex justify-content-center">
                        <h3><i class="fas fa-key"></i> Reset Password</h3>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="isError">
                    Error While Reseting Password

                </div>
                <div class="alert alert-success" *ngIf="isSuccess">
                    Successful Reseting Password

                </div>
                <form [formGroup]="resetPass" (submit)="reset()">
                    <div class="form-group">
                        <label for="password"> Enter Password</label>
                        <input type="password" formControlName="password" class="form-control login-input"
                            placeholder=" Enter password">
                        <div class="validation-error">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password"> Enter Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control login-input"
                            placeholder="Enter confirm password">
                        <div class="validation-error">
                        </div>
                    </div>
                    <div class="form-row form-group mt-4">
                        <div class="col-12">
                            <button class="btn btn-primary login-btn" type="submit"> Reset</button>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            Click<a [routerLink]="['/login']">&nbsp;here&nbsp;</a>to go to Login page
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>